@tailwind base;
@tailwind components;
@tailwind utilities;

/* 페이지 전환 효과 (react-transition-group용) */
.fade-enter {
  opacity: 0;
  transform: translateX(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease, transform 500ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 500ms ease, transform 500ms ease;
}


/* 모바일 메뉴 오버레이 애니메이션 */
.mobile-menu-overlay-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.mobile-menu-overlay-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.mobile-menu-overlay-exit {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu-overlay-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

/* 
.mobile-menu-content {
  transform: translateY(-10px);
  opacity: 0;
}
.mobile-menu-overlay-enter .mobile-menu-content,
.mobile-menu-overlay-exit-active .mobile-menu-content {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
*/